*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-style: italic;
    font-size: 12px;
    --bgcolor:rgb(247, 86, 42);
}

header
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    color: #fff;
    background-color: var(--bgcolor);
}

header > span
{
    margin: 10px;
    font-size: 15px;
}

.search
{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.search >span
{
    margin-bottom: 5px;
}
.search > input 
{
    width: 250px;
}
input[type="text"] 
{
    border: 1px solid rgba(0,0,0,0.5);
    padding: 5px;
    width: 200px;
    outline: none;
}

button
{
    cursor: pointer;
}
#totalCalories
{
    position: absolute;
    top: 90px;
    right: 5%;
    display: flex;
    flex-direction: column;
}

#totalCalories > span
{
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 550;
}

#totalCalories > ul
{
    margin: 5px 25px;
}
form
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 15px;
    margin-left: 25%;
}

form > button
{
    width: 100px;
    height: 20px;
    font-style: initial;
    font-size: 10px;
    padding: 5px;
    color: #fff;
    background-color: var(--bgcolor);
    border: none;
}

label
{
    margin-right: 5px;
}

#displayContainer
{
    display: grid;
    grid-template-columns: repeat(1,800px);
    width: 800px;
    aspect-ratio: 1/1;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 40px;
    margin: auto;
    translate: 0px 20px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#displayContainer::-webkit-scrollbar
{
    width: 5px;
    height: 800px;
    background-color: transparent;
}
#displayContainer::-webkit-scrollbar-thumb
{
 background-color: #cdcdcd;
 border-radius: 10px;
}

.card
{
    margin: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 200px;
    border: 1px solid rgba(0,0,0,0.5);
}

.card > img
{
    margin: 5px;
    width: 150px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.card > div
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}

.card > div > span , .card >div >span > span
{
    font-size: 15px;
}

.card >div >span > span
{
    color: var(--bgcolor);
}
.card > div > div > button
{
    border: none;
    margin-left: 5px;
    padding: 5px;
    color: #fff;
    background-color: var(--bgcolor);
}
