<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header id="headerContainer">
    <span>Calory Tracker</span>
  </header>
  <div>
    <div class="search">
      <span>Search</span>
      <input type="text" id="searchBox" #searchText (input)="searchText">
    </div>

    <div id="totalCalories">
      <span>Today's Foods {{totalCal}} cal</span>
      <ul *ngFor="let t of total">
        <li>{{t.name}} {{t.calory}} <span *ngIf="t.count>1">x{{t.count}}</span></li>
      </ul>
    </div>

    <form>
      <button (click)="set($event)" id="newFood">Add New Food</button>
      <ng-container *ngIf="hide">
          <div>
            <label for="name">Name</label>
            <input type="text" id="name" #name>
          </div>
          <div>
            <label for="calories">Calories</label>
            <input type="text" id="calories" #calory>
          </div>
          <div>
            <label for="image">Image</label>
            <input type="text" id="image" #image>
          </div>
          <button (click)="addFood($event,name.value,calory.value,image.value)">Submit</button>
      </ng-container>
    </form>

    <div id="displayContainer">
      <ng-container  *ngFor="let food of foods | filter:searchText.value">
        <div class="card">
          <img src="{{food.image}}" alt="{{food.name}}">
          <div>
            <span>{{food.name}}</span>
            <span>Calory<span>-{{food.calory}}</span></span>
            <div>
              <input type="text" #count>
              <button (click)="add(food.name,food.calory,count.value)" id="newFood">Add</button>
            </div>
          </div>
        </div>
    </ng-container>
    </div>
  </div>
</body>
</html>